#home-text{
background-color:#50473e;
color:white;
text-align:center;
padding-top:15%;
padding-bottom:15.8%;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

#zika-pic{
  width: 100%;
  height: 710px;
}

.button {
    background-color: #409144;   /*4CAF50*/
    border: none;
    border-radius:4px;
    color: white;
    padding: 8px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    font-family: Oswald;

}

button:hover{
  text-decoration:underline;
}

#lead-para{
  padding-right:12%;
  padding-left:12%;

}

#frame{
  margin-left:10%;
}

#headline{
  text-align:center;
  /*background-color:#409144;*/
  color:white;
}
.head-background1{
  /*background-color: #50473e; /*#50473e;*/*/
  padding-right:24%;
  padding-left:24%;
  font-size:30px;
}
.head-background2{
  /*background-color:#50473e;*/
  padding-right:29%;
  padding-left:29%;
  font-size:30px;
}
.head-background3{
  /*background-color:#50473e;*/
  padding-right:24%;
  padding-left:28%;
  font-size:30px;
}

.background{
  background-color:#50473e;
}

#map-text{
  margin-top:1%;
  padding-right:15%;
  padding-left:15%;
}

@media (max-width: 600px) {
  #zika-pic{
    width:100%;
    height:100%;
  }

  #home-text{
    padding-bottom:15%;
  }

  /*#map-content1{
    width:90%;
    margin-left:5%;
  }
  #map-content2{
  width:90%;
  margin-left:5%;
  }*/

  #home-text{


  padding-top:3%;
  padding-bottom:20%;
  }

  #map-text{

    padding-right:5%;
    padding-left:5%;
  }

}
