.photo{
  width:300px;


}

#news-content{
  margin-top:20%;
}

#news{
  color:#409144;
  font-family: Oswald;
  font-size:20px;

}
a:link{
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
.white{
  color:white;
}
.need-left{
  text-align:left
}
.iframe-container{
  position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;

}

#open-font{
  font-family:'Open Sans';
  font-size:14px;
  }

.iframe-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cover-heading{
  font-size:50px;
}

#headline-size{
  font-size:20px;
}
